@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600,400,700|Play:400,700|Allerta+Stencil)

/* @ Font families @ */
@mixin sans-font
  font-family: 'Josefin Sans', sans-serif

@mixin square-font
  font-family: 'Play', sans-serif

@mixin stensil-font
  font-family: 'Allerta Stencil', sans-serif

/* @ Font sizes @ */
@mixin normal-font-size
  font-size: 20px

@mixin huge-font-size
  font-size: 70px
