@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600,400,700|Play:400,700|Allerta+Stencil)

@mixin sans-font
  font-family: 'Josefin Sans', sans-serif

@mixin square-font
  font-family: 'Play', sans-serif

@mixin stensil-font
  font-family: 'Allerta Stencil', sans-serif
